@font-face{
	src: url(../fonts/robotoSlab.ttf);
	font-family: robotoSlab;
}
body{
	font-family: robotoSlab, Helvetica, Arial, Sans-serif;
	overflow-x: hidden;
	width: 100vw;
}
/*--------------------------Main Page------------------------------------*/
.mainHeader{
	background: transparent !important;
	position: absolute;
}
.mainHeader img{
	max-height: 70px;
}
#mainContainer{
	height: 100vh;
	margin:0px;
	background-image: url(../images/fondo.svg);
}
.mainOptions{
	margin-top: 100px;
	position: relative;
	display: inline-block;
	height: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 2%;
}
#mainContainer div:nth-child(1) div.mainOptions{
	background-image: url(../images/ppc4.jpg);
}
#mainContainer div:nth-child(2) div.mainOptions{
	background-image: url(../images/ppc5.jpg);
}
#mainContainer div:nth-child(3) div.mainOptions{
	background-image: url(../images/ppc18.jpg);
}
.mainOptionsTitle, .mainOptionsText{
	color: #ffff;
	width: 70% !important;
    margin: auto;
}
.mainOptionsTitle{
	font-weight: 800;
	font-size: 3.5em;
	margin-top: 30% !important;
	line-height: 60px;
}
.mainOptionsText{
	text-align: justify;
	margin-top: 20px;
	font-weight: 300;
	background: rgba(0,0,0,0.3);
    box-shadow: rgba(0,0,0,0.3) 0em 0em 1em 1em;
}
.mainOptionsLink a{
	color: #ffff;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	position: absolute;
    width: 60%;
    font-size: 24px;
    border: solid 2px #FFFF;
    border-radius: 40px;
    padding: 1em;
    bottom: 20px;
    margin-left: 15%;
    transition: .5s;
}
.arrowIcon{
	color: #ffff;
	margin-left: 5px;
	transition: .5s;
}
.mainOptionsLink a:hover{
	background: #FFFF;
	color: #A13E1B;
}
.mainOptionsLink a:hover > .arrowIcon{
	color: #A13E1B;
}
/*-----------------------SECTION MAIN PAGE-----------------------------*/
	/*background: #EB5757;*/  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #000000, #EB5757); */ /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #000000, #EB5757);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



/*--------------------------------BK BIBLE STUDIES-----------------------*/
.pagesMenu{
	position: fixed;
    background: transparent !important;
    z-index: 10;
    width: 100%;
    transition: .2s;
    padding-bottom: 3px;
}
.pagesMenu > a{
	height: 70px;
    width: 290px;
    background: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
ul.nav{
	position: absolute;
	right: 2%;
	text-decoration: none;

}
.anchorMenu{
	color: #ffff;
	padding-top: 40px;
	padding-bottom: 40px;
    height: 85%;
}
ul li:nth-child(3) a{
	border-bottom: #ffff 3px solid;
}
.pagesMenu:hover .anchorMenu{
	color: #A13E1B;
}
.pagesMenu:hover{
	background-color: #FFFF !important;
	box-shadow: 0px 6px 12px #00000059;
}
.pagesMenu:hover > a{
	background: url(../images/theWayBKlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.pagesMenu:hover ul li:nth-child(3) a{
	border-bottom: #A13E1B 3px solid;
}
/*----------------END OF MENU------------------*/
#studiesIntro{
	height: 100vh;
    background: url(../images/brooklynBridge.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;

    display: flex;
    flex-wrap: wrap;
}
.studiesIntroText{
	color: #FFFF;
	font-size: 5.5em;
	line-height: 110px;
    align-self: flex-end;
    font-weight: 900;
    margin-left: 10%;
    width: 75%;
}
#studiesIntro p:nth-child(2){
    font-size: 25px;
    color: #ffff;
    margin-left: 10%;
    width: 60%;
    line-height: 50px;
}
.BKstudiesBtn{
	position: absolute;
    left: 10%;
    bottom: 20px;
    width: 30%;
    height: 100%;
}
.BKstudiesBtn a{
	color: #ffff;
    text-decoration: none;
    text-align: center;
    position: absolute;
    width: 60%;
    font-size: 24px;
    border: solid 2px #FFFF;
    border-radius: 40px;
    padding: 1em;
    bottom: 20px;
    transition: .5s;
}
.BKstudiesBtn a:hover{
	color: brown;
	background-color: white;
}
.BKstudiesBtn a:hover .arrowIcon{
	color: brown;
}












/*----------------END OF INTRO----------------------*/
#BKbibleStudies{
	background-image: url(../images/fondo.svg); 
	max-width: 100vw;
	margin: 0px;
	padding-bottom: 70px;
	padding-right: 0px;
	padding-left: 0px;
}

#bibleStudiesOpportunities{
	text-align: center;
    font-size: 56px;
    font-weight: 800;
    color: #A13E1B;
    padding-top: 1em;
}
#separationLine{
	width: 150px;
    height: 100%;
    background: #A13E1B;
}
#BKbibleStudies div.row:nth-child(2){
	height: 3px;
}
#BKbibleStudies div.row:nth-child(3), #BKbibleStudies div.row:nth-child(4){
	padding: 2em;
}
.studiesCards{
	width: 100% !important;
	border: none;
	box-shadow: 0px 6px 12px #00000059;
	border-radius: 5px;
}
.studiesCards img{
	height: 320px;
	filter: brightness(0.8);
}
.studiesTitle{
	position: absolute;
    width: 100%;
    bottom: 0;
    color: #ffff;
    font-size: 54px;
    padding-left: 0.25em;
    line-height: 60px;
}
.firstRow{
	height: 75%;
}
.secondRow{
	height: 85%;
    width: 90%;
}
.whiteLine{
	position: absolute;
    height: 3px;
    background: #FFFF;
    width: 30%;
    top: 290px;
    left: 1em;
}
.card-body{
	min-height: 250px;
}
p.card-text{
	color: #4F4F4E;
	font-size: 1.1em;
}
.btnStudies{
	color: #A13E1B;
    z-index: 1;
    font-size: 1.5em;
    position: absolute;
    bottom: 5%;
    font-weight: 800;
}
.btnStudies:hover{
	color: #A13E1B;
}

.bkSocialMedia{
	min-width: 100vw;
    border-top: 5px solid brown;
    border-bottom: 5px solid brown;
    min-height: 300px;

    background-image: url(../images/ppc5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bkSocialMedia div:first-child{
	background: brown;
	border-top-right-radius: 130px;
	border-bottom-right-radius: 130px;
	display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    font-size: 2em;
    width: auto;
}
.bkSocialMedia div:last-child{
    font-size: 10em;
    margin: auto;
    text-align: center;
}
.mediaIcons{
	color: white;
    transition: .5s;
}
.mediaIcons:hover{
	color: yellow;
}


/*testing*/

/*testing branches*/
/*leo*/
















/*.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}*/